body,
html {
 font-size: 100%;
}

body {
	color:@org-blue;
	font-family: Helvetica, Arial, sans-serif;
}


a {
	color:@links;
}

// You can place your varibles in same file.
@links-special:#000;

//I prefer to keep colors in a single file for cleanliness sake.

.special-link {
	color: @links-special;
}

