// Site Colors

// Global Link Colors
@links:#d01f2d;

// Banner 
@banner-1:#e0dbd7;

// Logo 
@org-blue:#074875;
@org-red:#d01f2d;

// Page Top
@org-title:#0D3863;

//Button
@btn-search:#143861;


// Panel
@panel-1:#40acf4;
@panel-1-ft:#0a87db;
@panel-2:#40a5d1;
@panel-2-ft:#1384b5;
@panel-3:#2c8fd1;
@panel-3-ft:#0d75ba;
@panel-4:#2267a2;
@panel-4-ft:#014986;
@panel-5:#31728f;
@panel-5-ft:#0c5270;
@panel-6:#2f5274;
@panel-6-ft:#0c3259;

// Social Media
@sm-fb:#3B5998;
@sm-tw:#55acee;
@sm-rs:#F86812;
@sm-yt:#bb0000;


// Footer 
@ft-copy:#25476a;
@ft-divider:fade(#fff, 10%);
@ft-privacy:#305072;





